<%
  paginated_products = @searcher.retrieve_products if params.key?(:keywords)
  paginated_products ||= products
  no_products_found = products.empty?
  page = params.fetch(:page, 1).to_i
%>

<% content_for :head do %>
  <% if paginated_products.respond_to?(:total_pages) %>
    <%= rel_next_prev_link_tags paginated_products %>
  <% end %>
<% end %>

<% if no_products_found %>
  <h2 class="products__results-title">
    <%= t('spree.no_products_found') %>
  </h2>
<% elsif params.key?(:keywords) %>
  <h1 class="products__results-title">
    <%= t('spree.search_results', keywords: h(params[:keywords])) %>
  </h1>
<% end %>

<%= turbo_frame_tag "products_#{page}", target: "_top" do %>
  <% if !no_products_found %>
    <%= render 'products/products-grid', products: products %>
  <% end %>

  <% if paginated_products.respond_to?(:total_pages) %>
    <%= turbo_frame_tag "products_#{page + 1}", src: path_to_next_page(paginated_products), loading: "lazy", target: "_top" %>
  <% end %>
<% end %>
